# EditorConfig: http://EditorConfig.org

# top-most EditorConfig file
root = true

# rules that apply to everything
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
